
<ion-content>

  <topo-login title="Login"></topo-login>
  
  <form [formGroup]="loginForm" (submit)="login()"> <!--Form group é um grupo de controles do formulário.-->  
    <ion-item>
      <ion-icon name="mail" color="ifinancas" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="ifinancas" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <!--O botão fica desabilitado se o loginForm for inválido-->
    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="ifinancas" fill="clear">Enviar</ion-button>
  </form><br><br>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth/forgot']" fill="clear" color="medium">Esqueci minha senha</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/auth/register']" fill="clear" color="medium">Criar usuário</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
