
<ion-content class="ion-padding">

  <topo-login title="Esqueci minha senha"></topo-login> <!-- Componente aceita argumentos.-->

  <form [formGroup]="loginForm" (submit)="recoverPass()"> <!--Form group é um grupo de controles do formulário.-->  
    <ion-item>
      <ion-icon name="mail" color="ifinancas" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item><br><br>

    <!--O botão fica desabilitado se o loginForm for inválido-->
    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="ifinancas" fill="clear">Enviar</ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
